div.container-fluid{
    padding: 0px 25px 0px 0px;
}

a.navbar-brand {
    padding: 0px;
    margin: 0px;
}

.navbar-expand-lg .navbar-collapse {  
    justify-content: space-around;
}

button.navbar-toggler{
    background: #99cc00;
    padding: 4px 5px;
}

li.nav-item{
    padding: 0px 25px 0px 25px;
}

.navbar{
    font-family: 'Newsreader', serif;
    font-weight: 550;
    text-transform: uppercase;
    font-size: 17px;
}

#navbarNavDropdown{
    text-align: center;
}

/* ------------------------------------------------------------------------ */

.container{
    text-align: center;
}

.container h2, .col-lg-6 i{
    margin: 40px;
}

.col-lg-6 p{
    padding: 25px 50px;
    color: rgb(141, 141, 141);
    font-family: 'Ubuntu', sans-serif;
}

.container h2{
    color: rgb(105, 105, 105);
    font-family: 'Newsreader', serif;
}

/* --------------------------------mq-------------------------------------- */


@media (min-width: 279px) and (max-width: 740px) {
    *{
        margin: 0%;
        padding: 0%;
    }
     .navbar{
        font-size: 13px;
      }
      .container h2, .col-lg-6 i{
        margin: 20px;
    }
    .container h2{
        padding: 0px 30px;
        font-size: 19px;
    }
    .col-lg-6 i{
        font-size: 55px;
    }
    .container p{
        font-size: 14px;
    }
}

@media (min-width: 768px) and (max-width: 1023px){
      .navbar{
        font-size: 15px;
      }
      .container h2{
        padding: 0px 30px;
        font-size: 24px;
    }
    .container p{
        font-size: 15px;
    }
    .col-lg-6 i{
        font-size: 65px;
    }
}

@media (min-width: 1024px) and (max-width: 1366px){
    .navbar{
        font-size: 15px;
      }
}