div.container-fluid{
    padding: 0px 25px 0px 0px;
}

a.navbar-brand{
    padding: 0px;
    margin: 0px;
}

.navbar-expand-lg .navbar-collapse {  
    justify-content: space-around;
}

button.navbar-toggler{
    background: #99cc00;
    padding: 4px 5px;
}

li.nav-item{
    padding: 0px 25px 0px 25px;
}

.navbar{
    font-family: 'Newsreader', serif;
    font-weight: 550;
    text-transform: uppercase;
    font-size: 17px;
}

#navbarNavDropdown{
    text-align: center;
}
/* ----------------------------------------------------------------------- */

.heading{
    text-align: center;
    margin: 80px;
}

#threats{
    margin: 100px;
}

div.col-10.col-lg-8.blurb.mt-5.mb-md-0{
    margin-right: 50px;
}

.mt-4, .mt-1{
    font-size: 27px;
    margin-bottom: 10px;
    color: #99cc00;
    font-family: 'Mate SC', serif;
    font-weight: 600;
}

p.lead{
    color: rgb(83, 83, 83);
    font-size: 17px;
    font-family: 'Ubuntu', sans-serif;
}

img.img-fluid{
    clip-path: circle(50% at 50% 50%);
}

/* ------------------------------------------------------------------------ */

.content{
    margin: 50px 20px 20px 20px;
    text-align: center;
    color: #545454;
    font-family: 'Newsreader', serif;
   }
   
   .row h4{
     color: green;
   }
   
   #nd{
   padding: 30px;
   }
   
   #nd img{
     clip-path: circle(50% at 50% 50%);
     height: 150px;
     width: 150px;
     margin-bottom: 20px;
   }
   #nd p {
     margin: 20px 30px;
     font-family: 'Bree Serif', serif;
   }

/* --------------------------------mq-------------------------------------- */

@media (min-width: 279px) and (max-width: 740px) {
    *{
        margin: 0%;
        padding: 0%;
      }
      .mt-4{
          font-size: 17px;
        margin-bottom: 4px;
      }
      .mt-1{
          font-size: 27px;
      }
     .navbar{
        font-size: 13px;
      }
      p.lead, #nd p{
          font-size: 13px
      }
      #threats, .heading{
          margin: 30px
      }
      .col-md-6 img{
          width: 200px;
          height: 200px;
          margin-left: 28%;
      }
      #nd img{
          margin-left: 0px;
      }
}

@media (min-width: 768px) and (max-width: 1023px){
    .mt-4{
        font-size: 19px;
        margin-bottom: 5px;
    }
    .mt-1{
        font-size: 29px;
    }
      .navbar{
        font-size: 15px;
      }
      p.lead, #nd p{
        font-size: 14px
    }
    #threats, .heading{
        margin: 40px;
    }
}

@media (min-width: 1024px) and (max-width: 1366px){
    .navbar{
        font-size: 15px;
      }
      .mt-4{
        font-size: 20px;
    }
    .mt-1{
        font-size: 30px;
    }
    p.lead, #nd p{
        font-size: 15px
    }
    #threats, .heading{
        margin: 60px;
    }
}
